body{
    margin: 0px;
    background-color: #ffffff
}

@font-face{
    font-family: "PNovareg";
    src: url("../font/ProximaNova-Regular.otf");
}

@font-face{
    font-family: "PNovasbold";
    src: url("../font/Proxima Nova-Sbold.otf");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#nav{
    height: 70px;
    background: transparent;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition: all ease .5s;
}

#nav.shrink{
    height: 70px;
    transition: all ease .5s;
    background: black;
}

#nav a.logo{
    background:url(../img/SWProductionBlack.png) no-repeat;
    background-size:100%;
    width:15%;
    height:40px;
    margin-left: 10px;
}

#Home{
    background:url(../img/Background1.png) no-repeat;
    background-size:100%;
    width: 100%;
    height: 100%;
}

#Home h1{
    font-family: 'PNovareg';
    font-size: 39pt;
    color:black;
    margin-bottom:40px;
}

#Home p{
    font-family: 'PNovareg';
    font-size: 24pt;
}

#Home p .btn{
    color:black;
    border-radius:0rem;
    border-color:black;
    border-width:2pt
}

#Home p .btn:hover{
    color: white;
    background-color: black;
    border-color: black;
}

.tengah{
    position: absolute;
    left: 0;
    margin-top: 25%;
    width: 100%;
    text-align: center;
}

#About .container.atas{
    text-align: center;
    padding: 30px 0px;
}

#About .container.atas h4{
    font-family: "PNovasbold";
    font-size: 16pt;
    padding-top: 50px;
    padding-bottom: 25px;
}

#About p{
    font-family: "PNovareg";
    font-size: 11pt;
    color: #666666;
}

#background2{
    background:url(../img/Background2.png) no-repeat;
    background-size:100%;
}

#background2 h2{
    margin:90px 50px 20px 50px;
    font-family: "PNovasbold";
    font-size: 32pt;
    color: #ffffff;
    text-align: left;
}

#background2 p{
    line-height: 1.3;
    margin:30px 100px 65px 50px;
    font-family: "PNovareg";
    font-size: 16pt;
    color: #ffffff;
    text-align: left;
}

#Client h3{
    font-family: "PNovasbold";
    font-size: 18pt;
    color: #000000;
}

#Client .jumbotron{
    text-align: center;
    background-color: #ffffff;
    margin-bottom:0px;
}

#Client .container .row.partner{
    padding-bottom: 5%;
    padding-left: 10%;
}

#Client .container .row.partner img{
    max-width:75%
}

#konten img{
    width:100%;
    height:300px;
    max-height:210px;
}

#konten .col-sm-4.atas{
    width:33.3%;
    padding-right: 0px;
    padding-left: 0px;
}

#Portofolio .container-fluid.atas img{
    width:100%;
    height: 300px;
    max-height:210px;
}

#Portofolio .container-fluid.atas .col-sm-4{
    padding-right: 0px;
    padding-left: 0px;
}

#Portofolio .container-fluid.bawah{
    text-align: center;
    background: #000000;
    height: auto;
}

#Portofolio .container-fluid.bawah h3{
    padding-top: 20px;
    color: #ffffff;
    font-family: "PNovasbold";
    font-size: 18pt;
}

#Portofolio .container-fluid.bawah h1{
    margin-top:20%;
    color: #ffffff;
}

#Portofolio .container-fluid.bawah p{
    margin-top:10%;
    color: #ffffff;
    font-family: "PNovasbold";
    font-size: 16pt;
}

#Contact .container{
    margin-left: 28.5%;
    margin-right: 28.5%;
    width: auto;
}

#Contact h4{
    padding-top: 3%;
    padding-bottom: 2%;
    text-align: center;
    font-family: "PNovasbold";
    font-size: 16pt;
}

#Contact p{
    font-family: "PNovasbold";
}

#Contact label{
    font-family: "PNovareg";
    font-size: 12pt;
}

#Contact .container .col-sm-6 input{
    border-radius:0.2rem;
    border-color:black;
    border-width:1.5pt;
}

#Contact button{
    border-radius:0rem;
    background-color:black;
    border-color:black;
    border-width:2pt;
    font-size:15;
    padding:0.375rem 1.5rem;
}

#foot{
    background:black;
    max-width: 100%;
    margin-bottom: -5%;
}

#foot .container{
    background: none;
    font-family: "PNovasbold";
}


#foot .container-fluid .row .col-sm-3,
#foot .container-fluid p{
    margin-left: 40px;
}

#foot h4{
    font-family: "PNovareg";
    font-weight: 700;
    padding-top:5%;
    color: white;
}

#foot a{
    font-family: "PNovareg";
    color: white;
    line-height: 1.0;
    padding: .5rem 0px;
}

#foot p{
    font-family: "PNovasbold";
    font-size: 10pt;
    color:white;
    padding-top:3%;
    padding-bottom: 1%;
    margin-bottom: 0;
}

#foot h5{
    font-family: "PNovareg";
    font-size: 13pt;
    color:white;
    padding-top:3%;
    padding-bottom: 3%;
    margin-bottom: 0;
}

#foot button{
    border-radius:0rem;
    background-color:black;
    border-color:white;
    border-width:2pt; 
    padding: 0.3rem 1.5rem;
}

/*========================================
layar kecil
==========================================*/

@media screen and (max-width: 500px){
    #nav a.logo{
        width: 25%;
    }

    #home{
        height: 45%;
    }

    #home h1{
        font-size: 18px;
    }

    #background2{
        background-size: auto;
    }

    #Portofolio .container-fluid.atas{
        height: 40%;
    }

    #Client .container .row.partner{
        text-align: center;
        padding-left: 0%;
    }

    #konten img{
        max-height: 120px;
    }

    #Contact .container{
        margin-left: 20px;
        margin-right: 20px;
    }

    #Contact .container .form-row{
        flex-wrap: unset;
    }

    #foot .container-fluid .row .col-sm-3,
    #foot .container-fluid p{
        margin-left: 20px;
    }

    #foot .container-fluid .row .col-sm-3 .form-group{
        margin-right: 20px;
    }
}
